:root{
    --accent-color: #ffb500ee;
    --light-color: #ffffff;
    --dark-color: #f0f0f6;
    --primary-text-color: #2b2b2b;
    --primary-text-color-dark: #000000;
    --secondary-text-color: #767676;
    --nav-padding: 35px;

    --tag-bg-color: var(--dark-color);
    --tag-border-color: #0000000D;

    --navLink-hover-bg-color: var(--accent-color);
    --navLink-border-radius: 5px;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: "inter";
    z-index: 0;
}

body{
    background-color: #f0f0f6;
    color: var(--primary-text-color);
}

a{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
}

button{
    cursor: pointer;
}

header{
    // background-color: #ffffff;
    background-color: var(--light-color);
}

nav{
    position: fixed;
    z-index: 11;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: var(--nav-padding) 0;
    box-shadow: 0 2px 10px 2px #80808018;
    background-color: var(--light-color);
    
    >*{
        padding: 0;
    }
    
    #logo{
        margin-left: 5rem;
    }
    
    >ul{
        // padding: 0;
        list-style: none;
        display: flex;
        gap: 30px;
        margin-right: 5rem;
        
        >li{
            display: flex;
            align-items: center;
        }
    }
}

h1{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
}

h3{
    font-size: 21px;
    font-weight: 800;
    color: var(--primary-text-color-dark);
    margin-bottom: 22px;
}

h5{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

p{
    color: var(--secondary-text-color);
    line-height: 24px;
}

.navLinks{
    padding: 12px;
    font-weight: 600;
    border-radius: var(--navLink-border-radius);
    font-size: 0.9rem;
    
    &:hover{
        background-color: var(--navLink-hover-bg-color);
    }
}

.active-link{
    background-color: var(--accent-color);
}

.highlight-text{
    color: var(--accent-color);
}

.vector{
    position: absolute;
    width: 23px;
    height: 23px;
    z-index: 10;
}

#hero{
    display: flex;
    // justify-content: space-between;
    justify-content: flex-end;
    height: 100vh;

    >#hero-content-container{
        position: absolute;
        // left: 150px;
        top: 270px;
        left: 5.5vw;
        z-index: 10;

        >h1{
            font-size: 50px;
            width: 35vw;
            margin-bottom: 50px;
        }

        >p{
            font-size: 16px;
            width: 40vw;
            margin-bottom: 90px;
            line-height: 1.5;
            text-transform: capitalize;
        }

        >button{
            display: flex;
            align-items: center;
            border: none;
            border-radius: 5px;
            padding: 16px 32px;
            background-color: var(--accent-color);
            
            >span{
                margin-right: 4px;
                font-size: 16px;
                font-weight: 500;
            }
        }

    }

    >#hero-img-container{
        display: flex;
        align-items: flex-end;
        // justify-content: flex-end;
        >img{
            z-index: 0;
        }
    }
}

.section-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    >p{
        text-align: center;
        max-width: 700px;
    }
}

// .section-heading{
//     font-weight: 700;
//     font-size: xx-large;
// }

#projects{
    padding: 40px 90px;
}

#project-grid{
    display: grid;
    grid-template-columns: repeat(3, minMax(0, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 45px;
    // padding: 40px 90px;

    >.project-card{
        display: flex;
        flex-direction: column;
        border: 2px solid #00000033;
        border-radius: 15px;
        background-color: var(--light-color);
        box-shadow: 5px 5px 10px 0px #0000001A;

        >.project-card-content{
            display: flex;
            flex-direction: column;
            height: 22ex;
            padding: 16px 16px;
            gap: 4px;
            text-transform: capitalize;

            >h4{
                font-weight: 500;
            }

            >p{
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 12px;
            }

            >.tags-container{
                display: flex;
                flex-wrap: wrap;
                font-size: small;
                color: var(--primary-text-color-dark);
                gap: 12px;
                
                >.tag{
                    padding: 4px 13px;
                    border-radius: 20px;
                    border: 1px solid var(--tag-border-color);
                    background-color: var(--tag-bg-color);
                    // margin: 2px 5px;
                }
            }

        }
    }
}

#recommendation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carousel-container{
    // display: flex;
    // justify-content: center;
}

#carousel{

    // display: flex;
    // justify-content: center;
    max-width: 85vw;

    .carousel-card{
        padding: 20px;
        background-color: var(--light-color);
        border: 2px solid var(--tag-border-color);
        margin: 0 14px;
        // padding: 0 15px;
        // max-width: 350px;

        .profile-rating{
            display: flex;
            gap: 12px;
            margin-bottom: 18px;
        }

        .profile{
            display: flex;
            align-items: center;

            >span{
                margin-left: 22px;
            }
        }

        h4{
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 18px;    
        }

        >p{
            font-size: 15px;
            margin-bottom: 20px;
            text-transform: capitalize;
        }
    }
}

#lmyi-contact-container{
    // display: grid;
    // grid-template-columns: 2fr 1fr;
    display: flex;

    padding: 40px 100px;
    gap: 25px;
}


#leave-me-your-info{
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}

// #contact-info-grid{
//     display: grid;
//     gap: 45px;
// }

#leave-me-your-info-form{
    // height: calc(100%);
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--light-color);
    padding: 28px 32px;
    // border-radius: 8px;
    color: var(--secondary-text-color);

    >div{
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
        gap: 4px;
        font-size: 18px;
        font-weight: 500;
    }

    :last-child{
        align-items: flex-start;
        margin-bottom: 0;
    }

    input, textarea{
        padding: 8px 10px;
        height: 45px;
        border: none;
        background-color: var(--dark-color);
        font-size: 16px;
        color: var(--primary-text-color);
        // color: black;
    }
    textarea{
        height: 200px;
    }
    button{
        // display: flex;
        // align-items: center;
        border: none;
        border-radius: 5px;
        padding: 16px 32px;
        background-color: var(--accent-color);
    }
}

#contact-info{

    flex-shrink: 0;
    flex-grow: 1;
    
    #contact-info-cards-container{
        color: var(--secondary-text-color);
        // display: flex;
        // flex-direction: column;
        display: grid;
        grid-auto-rows: minmax(100px, auto);
        gap: 15px;

        .contact-card{
            background-color: var(--light-color);
            padding: 16px 26px;
            // margin:20px;

            .label{
                font-size: 18px;
                font-weight: 500;
            }

            .icon{
                padding: 14px 0;
            }

            >:first-child{
                display: flex;
                justify-content: center;
            }

            >div{
                display: flex;
                justify-content: space-between;
                margin-bottom: 18px;
            }

            :last-child{
                margin-bottom: 0px;
            }
        }
    }
}

.icon-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 15px;
    background-color: var(--accent-color);
}
